<!--  
 This file is part of LocalTime https://bitbucket.org/vbaruh/localtime/
  and it is licensed under MIT license. Check MIT-LICENSE.txt for details
 -->
<div id="zoneSelector" style="visibility:hidden">
<table>
<tr>
   <td>
   Region<br>
   <select id="zs_regionList" size=10 style="width: 160px"></select>
   </td>
   <td>
   City<br>
   <select id="zs_cityList" size=10 style="width: 240px"></select>
   </td>
</tr>
<td>
<tr cols=2>
   <td>
      <input id="zs_select" type="button" value="select">
      <input id="zs_cancel" type="button" value="cancel">
   </td>
</tr>
</table>
</div><!--zoneSelector-->